**/**/bin/Debug/
**/**/bin/Release/
**/**/obj/Debug
**/**/obj/Release
**/**/HURIS/v14
**/**.sln
**/reports/*.cs
**/**/Properties
**/**/*.csproj
HURIS/packages/
HURIS/HURIS.sln
HURIS/HURIS/Resources/Thumbs.db
**/**/**/**/.suo
HURIS/.vs/HURIS/v14/.suo
HURIS/HURIS/HURIS.csproj
**/.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

